/* styles.css */
.hero-section {
    background-image: url('bg.jpg');
    background-size: cover;
    color: #fff;
    padding: 200px;
    text-align: center;
}

.products-section {
    background-color: #c6e699;
}
.about-section {
    background-image:url('a.jpg');
    background-size: cover;
    padding: 50px 0;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: #fff;
}
/* styles.css */
.contact-section {
    padding: 50px 0;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: #fff;
}
